@charset "UTF-8"
@font-face{
	font-family: "ConST-font";
	src:url(fonts/Munro.eot), url(fonts/Munro.otf), url(fonts/Munro.svg), url(fonts/Munro.ttf), url(fonts/Munro.woff);
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
li{
	list-style: none;
}
h1 h2 h3 h4 h5 h6{
	font-weight: normal;
}
body{
	font-family: "microsoft yahei";
}

.panel_forget{
	width: 296px;
	margin: 0 auto;
}
.login_mes ul{
	padding-top: 48px;
}
.login_mes ul li{
	padding: 0 0 10px; 
	position: relative;
}
.login_mes ul li i{
	position: absolute;
	left: 10px;
	color: #aaa;
	font-size: 20px;
	line-height: 40px;
}
.login_mes ul li input{
	width: 266px;
	height: 40px;
	border: 1px #aaa solid;
	border-radius: 3px;
	background: transparent;
	color: rgba(0,0,0,0.9);
	font-size: 14px;
	line-height: 40px;
	padding-left: 30px;
}
.nextstep a{
	display: inline-block;
	width: 296px;
	height: 42px;
	border-radius: 4px;
	background: url(../images/nextstep.png);
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	/*font-family: heiti;*/
}

.thekey{
	width: 398px;
	margin: 0 auto;
}
.text_key ul{
	padding-top: 48px;
}
.text_key ul li{
	padding: 0 0 10px; 
	/*position: relative;*/
}
/*.text_key ul li i{
	position: absolute;
	left: 60px;
	color: #aaa;
	font-size: 20px;
	line-height: 40px;
}*/
.text_key ul li span{
	display: block;
	font-size: 16px;
	line-height: 40px;
	color: rgba(0,0,0,0.9);
	width: 100px;
	float: left;
}
.text_key ul li input{
	width: 286px;
	height: 40px;
	border: 1px #aaa solid;
	border-radius: 3px;
	background: transparent;
	color: rgba(0,0,0,0.9);
	font-size: 14px;
	line-height: 40px;
	padding-left: 10px;
	/*margin-left: 50px;*/
}
.sure a{
	display: inline-block;
	width: 296px;
	height: 42px;
	border-radius: 4px;
	background: url(../images/nextstep.png);
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin-left: 100px;
	/*font-family: heiti;*/
}