<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>配置列表</title>
	<link rel="stylesheet" href="css/ConST_htgl_pz.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="menu_top">
		<ul>
			<li><i class="fa fa-home"></i><a href="ConST_index.html"><span>ConST</span></a></li>
			<li><i class="fa fa-angle-right"></i><a href="#"><span>康斯特CRM</span></a></li>
			<li><i class="fa fa-angle-right"></i><a href="#"><span>报表管理</span></a></li>
		</ul>
	</div>
	<div class="tabforyou">
		<ul>
			<li><a href="#"><i class="fa fa-check"></i>确定</a></li>
			<li><a href="#"><i class="fa fa-times"></i>取消</a></li>
		</ul>
	</div>
	<div class="content_table">
		<form action="">
			<table style="border-collapse: collapse;" border="1" cellpadding="0" cellspacing="0" class="mytable">
				<thead>
					<tr>
						<td width="3%">序号</td>
						<td width="2%"><input type="checkbox" data-options="required:false"></td>
						<td width="39%">标题</td>
						<td width="39%">字段名</td>
						<td width="6%">列宽</td>
						<td width="6%">是否显示</td>
						<td width="5%">顺序</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><input type="checkbox" name="ck"></td>
						<td>客户等级</td>
						<td>cSECREDIT</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>1</td>
					</tr>
					<tr>
						<td>2</td>
						<td><input type="checkbox" name="ck"></td>
						<td>新老客户</td>
						<td>iSEISNEW</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>2</td>
					</tr>
					<tr>
						<td>3</td>
						<td><input type="checkbox" name="ck"></td>
						<td>行业</td>
						<td>cSETRADE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>3</td>
					</tr>
					<tr>
						<td>4</td>
						<td><input type="checkbox" name="ck"></td>
						<td>合同编号</td>
						<td>cSEHTCODE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>4</td>
					</tr>
					<tr>
						<td>5</td>
						<td><input type="checkbox" name="ck"></td>
						<td>合同单位</td>
						<td>cSEHTBUYUNITNAME</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>5</td>
					</tr>
					<tr>
						<td>6</td>
						<td><input type="checkbox" name="ck"></td>
						<td>最终用户</td>
						<td>cSEMIDDLENAME</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>6</td>
					</tr>
					<tr>
						<td>7</td>
						<td><input type="checkbox" name="ck"></td>
						<td>产品类别</td>
						<td>cSEPRODUCTTYPE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>7</td>
					</tr>
					<tr>
						<td>8</td>
						<td><input type="checkbox" name="ck"></td>
						<td>签订日期</td>
						<td>dSESIGNEDTIME</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>8</td>
					</tr>
					<tr>
						<td>9</td>
						<td><input type="checkbox" name="ck"></td>
						<td>合同金额</td>
						<td>mSECREDIT</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>9</td>
					</tr>
					<tr>
						<td>10</td>
						<td><input type="checkbox" name="ck"></td>
						<td>传真或邮寄日期或邮件</td>
						<td>dSEPOSTDATE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>10</td>
					</tr>
					<tr>
						<td>11</td>
						<td><input type="checkbox" name="ck"></td>
						<td>发给客户时间</td>
						<td>dSESENDDATE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>11</td>
					</tr>
					<tr>
						<td>12</td>
						<td><input type="checkbox" name="ck"></td>
						<td>公司收到回件时间生效</td>
						<td>dSEGETREPLY</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>12</td>
					</tr>
					<tr>
						<td>13</td>
						<td><input type="checkbox" name="ck"></td>
						<td>发货单号</td>
						<td>cSESENDCODE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>13</td>
					</tr>
					<tr>
						<td>14</td>
						<td><input type="checkbox" name="ck"></td>
						<td>发货日期</td>
						<td>dSEPOSTGOODSDATE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>14</td>
					</tr>
					<tr>
						<td>15</td>
						<td><input type="checkbox" name="ck"></td>
						<td>发票邮寄时间</td>
						<td>dSESENDINVOICEDATE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>15</td>
					</tr>
					<tr>
						<td>16</td>
						<td><input type="checkbox" name="ck"></td>
						<td>验收时间</td>
						<td>dSECHECKDATE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>16</td>
					</tr>
					<tr>
						<td>17</td>
						<td><input type="checkbox" name="ck"></td>
						<td>回款时间</td>
						<td>dSEPAYMENTDATE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>17</td>
					</tr>
					<tr>
						<td>18</td>
						<td><input type="checkbox" name="ck"></td>
						<td>回款金额</td>
						<td>mSEPAYMENTAMOUNT</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>18</td>
					</tr>
					<tr>
						<td>19</td>
						<td><input type="checkbox" name="ck"></td>
						<td>质保金付款时间</td>
						<td>dSEPAYZHIBAOJINDATE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>19</td>
					</tr>
					<tr>
						<td>20</td>
						<td><input type="checkbox" name="ck"></td>
						<td>质保金</td>
						<td>mSEZHIBAOJIN</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>20</td>
					</tr>
					<tr>
						<td>21</td>
						<td><input type="checkbox" name="ck"></td>
						<td>关闭</td>
						<td>cSECLOSE</td>
						<td>120</td>
						<td>
							<select>
								<option>请选择</option>
								<option>是</option>
								<option>否</option>
							</select>
						</td>
						<td>21</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

	<script>
		$('.mytable tr').click(function(){
		   var chks = $(':checkbox',this);
		   chks.prop('checked',!chks[0].checked);
		})
	</script>


</body>
</html