<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>状态流水表</title>
	<link rel="stylesheet" href="css/ConST_lb.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<!-- 引入easyui css -->
	<link rel="stylesheet" type="text/css" href="easyui/themes/easyui.css">
	
</head>
<body>
	<div class="menu_top">
		<ul>
			<li><i class="fa fa-home"></i><a href="ConST_index.html">ConST</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">合同管理</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">报表管理</a></li>
		</ul>
	</div>
	<!-- <div class="tabforyou">
		<ul>
			<li><a href="#" onclick="$('#dlg').dialog('open')"><i class="fa fa-plus"></i>添加</a></li>
			<li><a href="#" onclick="$('#dlf').dialog('open')"><i class="fa fa-pencil"></i>修改</a></li>
			<li><a href="#"><i class="fa fa-times"></i>删除</a></li>
			<li><a href="#" onclick="$('#ch').dialog('open')"><i class="fa fa-search"></i>查询</a></li>
		</ul>
	</div> -->
	<div id="content_table">
		<table id="dg" class="easyui-datagrid" title="" toolbar="#tb" style="width:100%;min-width: 870px;" data-options="rownumbers:true,pagination:false,url:'datagrid_data1.json',method:'get'">
			<thead>
				<tr>
					<th field="标题" width="99%" align="left">标题</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td><a href="ConST_htgl_bbgl_ztlsxjb.html">合同</a></td>
			</tr>
			<tr>
				<td><a href="ConST_htgl_bbgl_ztlsxjb.html">订单</a></td>
			</tr>
			<tr>
				<td><a href="ConST_htgl_bbgl_ztlsxjb.html">发票</a></td>
			</tr>
			<tr>
				<td><a href="ConST_htgl_bbgl_ztlsxjb.html">收款</a></td>
			</tr>
			<tr>
				<td><a href="ConST_htgl_bbgl_ztlsxjb.html">维修</a></td>
			</tr>
			</tbody>
		</table>
	</div>



<!-- 引入easyui js -->
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script> 
	<!-- 汉化 -->
	<script type="text/javascript" src="easyui/easyui-lang-zh_CN.js"></script> 

</body>
</html>