<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>康斯特产品维修接收单</title>
	<link rel="stylesheet" href="css/ConST_biaodan.css">
<!-- 引入The Icon -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- 引入javascript -->
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- 引入easyui -->
	<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="easyui/themes/default/default.css">
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script> 
	<!-- 汉化 -->
	<script type="text/javascript" src="easyui/easyui-lang-zh_CN.js"></script> 
</head>
<body>
<!-- content_table -->
	<div class="content_table">
	<!-- tabforyou -->	
		<div class="tabforyou">
			<div class="tab_left">
				<ul>
					<li><a href="#"><i class="fa fa-file-text"></i>预览</a></li>
					<li><a href="#"><i class="fa fa-copy"></i>复制</a></li>
					<li><a href="#"><i class="fa fa-save"></i>保存</a></li>
					<li><a href="#"><i class="fa fa-user"></i>提交</a></li>
				</ul>
			</div>
			<div class="tab_right">
				<ul>
					<li><a href="#"><i class="fa fa-file"></i>生成短信内容</a></li>
					<li><a href="#"><i class="fa fa-send"></i>发送短信</a></li>
				</ul>
			</div>
		</div>

<!-- main_table -->
		<div id="main_table">
			<h3>康斯特产品维修接收单</h3>
			<div class="biaotou">
				<label for="bddh">表单单号：</label><input class="easyui-textbox" id="bddh" name="bddh" data-options="required:false" style="width: 200px;">
			</div>
			<form action="" method="post">
				<table style="border-collapse: collapse;" border="1" cellpadding="10" cellspacing="0" width="100%">
					<tr>
						<td>客户</td>
						<td colspan="3">
							<input class="easyui-textbox comboInput" id="needborder" name="kh" data-options="buttonIcon:'icon-find',
							onClickButton:function(){getBudget()}" style="width: 80%">
							<a href="javascript:void(0)" class="easyui-linkbutton" title="清除选择" onclick="clearForm()"><i class="fa fa-trash"></i></a>
							<a href="#" title="查看历史信息">历史记录</a>
						</td>
						<td>用户名称<span class="span">*</span></td>
						<td colspan="3"><input class="easyui-textbox" name="yhmc" data-options="required:false" style="width: 80%;">
							<a href="#" title="查看历史信息">历史记录</a>
						</td>
					</tr>
					<tr>
						<td>地址</td>
						<td colspan="3"><input class="easyui-textbox" name="dz" data-options="required:false" style="width: 100%;"></td>
						<td>邮编</td>
						<td><input class="easyui-textbox" name="yb" data-options="required:false" style="width: 100%;"></td>
						<td>区域</td>
						<td><input class="easyui-textbox" name="qy" data-options="required:false" style="width: 100%;"></td>
					</tr>
					<tr>
						<td style="width: 8%">客户类型</td>
						<td style="width: 17%">
							<select class="easyui-combobox" name="khlx" style="width: 100%;">
								<option value="qxz">请选择</option>
								<option value="gn">国内</option>
								<option value="gw">国外</option>
							</select>
						</td>
						<td style="width: 8%">联系人</td>
						<td style="width: 17%"><input class="easyui-textbox" name="lxr" data-options="required:false" style="width: 100%;"></td>
						<td style="width: 8%">联系人电话</td>
						<td style="width: 17%"><input class="easyui-textbox" name="lxrdh" data-options="required:false" style="width: 100%;"></td>
						<td style="width: 8%">联系人传真</td>
						<td style="width: 17%"><input class="easyui-textbox" name="lxrcz" data-options="required:false" style="width: 100%;"></td>
					</tr>
					<tr>
						<td>联系人邮箱</td>
						<td><input class="easyui-textbox" name="lxryx" data-options="required:false" style="width: 100%;"></td>
						<td>联系人QQ</td>
						<td><input class="easyui-textbox" name="lxrqq" data-options="required:false" style="width: 100%;"></td>
						<td>使用人</td>
						<td><input class="easyui-textbox" name="syr" data-options="required:false" style="width: 100%;"></td>
						<td>使用人电话</td>
						<td><input class="easyui-textbox" name="syrdh" data-options="required:false" style="width: 100%;"></td>
					</tr>
					<tr>
						<td >销售人员</td>
						<td>
						<input class="easyui-textbox comboInput" id="itemNo" name="itemNo" data-options="buttonIcon:'icon-find',
							onClickButton:function(){getBudget()}" style="width: 100%">
						</td>
						<td>销售人员电话</td>
						<td><input class="easyui-textbox" name="ysrydh" data-options="required:false" style="width: 100%;"></td>
						<td>入库人</td>
						<td><input class="easyui-textbox" name="rkr" data-options="required:false" style="width: 100%;"></td>
						<td>到收快递费用</td>
						<td><input class="easyui-textbox" name="dskdfy" data-options="required:false" style="width: 100%;"></td>
					</tr>
					<tr>
						<td>返修日期<span class="span">*</span></td>
						<td><input class="easyui-datebox textbox" name="fxrq" data-options="required:false" style="width: 100%;"></td>
						<td>预计完成日期</td>
						<td><input class="easyui-datebox textbox" name="yjwcrq" data-options="required:false" style="width: 100%;"></td>
						<td>出厂编号</td>
						<td><input class="easyui-textbox" name="ccbh" data-options="required:false" style="width: 100%;"></td>
						<td>国外维修单号</td>
						<td><input class="easyui-textbox" name="gwwxdh" data-options="required:false" style="width: 100%;"></td>
					</tr>
				</table>
			</form>
		</div>

<!-- sub_area -->
		<div id="sub_area">
			<h3><i class="fa fa-table"></i>接收子表单</h3>
			<div class="tabforyou">
				<ul>
					<li><a href="#"><i class="fa fa-plus"></i>增行</a></li>
					<li><a href="#"><i class="fa fa-times"></i>删除</a></li>
					<li><a href="#"><i class="fa fa-save"></i>暂存</a></li>
					<li><a href="#"><i class="fa fa-repeat"></i>刷新</a></li>
					<li><a href="#"><i class="fa fa-search"></i>查询</a></li>
				</ul>
			</div>
			<div id="sub_table">
				<form action="" method="post">
					<table style="border-collapse: collapse;" border="1" cellpadding="10" cellspacing="0" width="1860px;">
						<thead>
							<tr>
								<th width="40px">序号</th>
								<th width="30px"><input type="checkbox" data-options="required:false"></th>
								<th width="120px">出厂编号</th>
								<th width="120px">分单编号</th>
								<th width="120px">产品名称<span class="span">*</span></th>
								<th width="120px">规格型号</th>
								<th width="120px">量程</th>
								<th width="60px">数量</th>
								<th width="60px">单位</th>
								<th width="120px">出厂日期</th>
								<th width="180px">故障现象<span class="span">*</span></th>
								<th width="90px">维修人<span class="span">*</span></th>
								<th width="180px">附件说明</th>
								<th width="120px">紧急与否</th>
								<th width="120px">状态</th>
								<th width="120px">是否关注</th>
								<th width="120px">历史记录</th>
								<th  nowrap style="word-wrap:break-word;">接收单表体备注</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="text" name="xh" data-options="required:false"></td>
								<td><input type="checkbox" name="ck" style="width: 30px;"></td>
								<td>
									<input class="easyui-textbox comboInput" id="needborder" name="kh" data-options="buttonIcon:'icon-find',
							onClickButton:function(){getBudget()}" style="width: 100%">
								</td>
								<td><input type="text" name="fdbh" data-options="required:false"></td>
								<td><input type="text" name="cpmc" data-options="required:false"></td>
								<td>
									<input class="easyui-textbox comboInput" id="needborder" name="ggxh" data-options="buttonIcon:'icon-find',
							onClickButton:function(){getBudget()}" style="width: 100%">
								</td>
								<td><input type="text" name="lc" data-options="required:false"></td>
								<td><input type="text" value="1" name="sl" data-options="required:false"></td>
								<td><input type="text" name="dw" data-options="required:false"></td>
								<td><input class="easyui-datebox textbox" name="ccrq" data-options="required:false" style="width: 100%;"></td>
								<td><input type="text" name="gzxx" data-options="required:false"></td>
								<td><input type="text" name="wxr" data-options="required:false"></td>
								<td><input type="text" name="fjsm" data-options="required:false"></td>
								<td>
									<select name="jjyf" id="jjyf" style="height:80%">
										<option value="qxz">请选择</option>
										<option value="jj">紧急</option>
										<option value="yb" selected="selected">一般</option>
									</select>
								</td>
								<td><input type="text" name="zt" data-options="required:false"></td>
								<td>
									<select name="sfgz" id="sfgz" style="height:80%">
										<option value="qxz">请选择</option>
										<option value="s">是</option>
										<option value="f" selected="selected">否</option>
									</select>
								</td>
								<td><input type="text" name="lsjl" data-options="required:false"></td>
								<td><input type="text" name="jsdbtbz" data-options="required:false"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>

<!-- message_area -->
		<div id="message_area">
			<h3><i class="fa fa-table"></i>短信信息表</h3>
			<div class="tabforyou">
				<ul>
					<li><a href="#"  onclick="add()"><i class="fa fa-plus"></i>增行</a></li>
					<li><a href="#"><i class="fa fa-times"></i>删除</a></li>
					<li><a href="#"><i class="fa fa-save"></i>暂存</a></li>
					<li><a href="#"><i class="fa fa-repeat"></i>刷新</a></li>
					<li><a href="#"><i class="fa fa-search"></i>查询</a></li>
				</ul>
			</div>
			<div id="message_table">
				<form action="" method="post">
					<table style="border-collapse: collapse;" border="1" cellpadding="10" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="40px">序号</th>
								<th width="30px"><input type="checkbox" data-options="required:false"></th>
								<th width="120px">类型</th>
								<th width="120px">是否发送</th>
								<th width="120px">接收人</th>
								<th width="120px">接收人电话</th>
								<th nowrap style="word-wrap:break-word;">短信内容</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="text" name="xh" data-options="required:false"></td>
								<td><input type="checkbox" name="ck"></td>
								<td><input type="text" name="lx" data-options="required:false"></td>
								<td><input type="text" name="sffs" data-options="required:false"></td>
								<td><input type="text" name="jsr" data-options="required:false"></td>
								<td><input type="text" name="jsrdh" data-options="required:false"></td>
								<td><input type="text" name="dxnr" data-options="required:false"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="bzd">
				<label for="bz">备注:</label><br><textarea id="bz" name="bz" data-options="required:false" style="width: 100%; height: 40px;"></textarea>
			</div>
		</div>
<!-- 上传附件 -->
		<div id="message_area">
			<h3><i class="fa fa-table"></i>附件信息<span class="span">（单个附件小于4M）</span></h3>
			<div class="fix_file">
				<label for="file_2" title="选择上传文件">上传CNAS委托单:</label><input tabindex="2" size="3" name="report" id="file_1" type="file">
			</div>
			<div class="fix_file">
				<label for="file_2" title="选择上传文件">上传送检委托单:</label><input tabindex="2" size="3" name="report" id="file_2" type="file" onchange="document.getElementById('xFile').value=this.value">
			</div>
 		</div>
	</div>
</body>
</html>