<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="UTF-8">
	<title>邮件模板表</title>
	<link rel="stylesheet" href="css/ConST_lb.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<!-- 引入easyui css -->
	<link rel="stylesheet" type="text/css" href="easyui/themes/easyui.css">
	
</head>
<body>
	<div class="easyui-panel" style="height: 100%;padding:0 10px;overflow-y:hidden;" data-options="fit:true,border:false,">
		<header style="background:transparent;height:64px;padding:0 10px;border:0">
			<div class="menu_top">
				<ul>
					<li><i class="fa fa-home"></i><a href="ConST_index.html">ConST</a></li>
					<li><i class="fa fa-angle-right"></i><a href="#">基础配置</a></li>
					<li><i class="fa fa-angle-right"></i><a href="#"><span>邮件模板表</span></a></li>
				</ul>
			</div>
			<div class="tabforyou">
				<ul>
					<li><a href="#" onclick="$('#dlg').dialog('open')"><i class="fa fa-plus"></i>添加</a></li>
					<li><a href="#" onclick="$('#dlf').dialog('open')"><i class="fa fa-pencil"></i>修改</a></li>
					<li><a href="#"><i class="fa fa-times"></i>删除</a></li>
					<li><a href="#" onclick="$('#ch').dialog('open')"><i class="fa fa-search"></i>查询</a></li>
				</ul>
			</div>
		</header>
		<table id="dg" class="easyui-datagrid" title="" toolbar="#tb" style="width:100%;"
			data-options="
				rownumbers:true,
				singleSelect:false,
				pagination:true,
				fit:true,
				url:'datagrid_data1.json',
				method:'get'
				">
			<thead>
				<tr>
					<th field="ck" width="2%" checkbox="true"></th>
					<th field="邮件类型" width="10%" align="left">邮件类型</th>
					<th field="邮件内容" width="87%" align="left">邮件内容</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
				<tr>
					<td></td>
					<td>报价单</td>
					<td>您购买的产品已发送</td>
				</tr>
			</tbody>
		</table>
		<div class="add_box">
			<div id="dlg" class="easyui-dialog" title="添加" style="width:800px;height:170px;padding:5px;" data-options="
						iconCls: 'icon-save',
						toolbar: '#dlg-toolbar',
						buttons: '#dlg-buttons',
						modal:true
					">
				<form action="">
					<table style="border-collapse: collapse;" border="1" cellspacing="10px;" cellspacing="0" >
						<tr>
							<th width="150px">邮件类型:</th>
	    					<td width="640px">
	    						<select class="easyui-combobox" name="khlx" style="width: 99%;">
									<option value="qxz">请选择</option>
									<option value="bjd">报价单</option>
									<option value="ht">合同</option>
								</select>
	    					</td>
	    				</tr>
	    				<tr>
							<th width="150px">邮件内容:</th>
	    					<td width="640px">
	    						<input class="easyui-textbox" name="yjnr" data-options="multiline:true,required:true" style="width: 100%;height:60px;">
	    					</td>
	    				</tr>
					</table>
				</form>
			</div>
			<div id="dlg-buttons">
				<div class="tabforyou">
					<ul>
						<li><a href="javascript:void(0)" onclick="javascript:alert('已保存')"><i class="fa fa-check"></i>确定</a></li>
						<li><a href="javascript:void(0)" onclick="javascript:$('#dlg').dialog('close')"><i class="fa fa-times"></i>关闭</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="fix_box">
			<div id="dlf" class="easyui-dialog" title="修改" style="width:800px;height:170px;padding:5px;" data-options="
						iconCls: 'icon-save',
						toolbar: '#dlf-toolbar',
						buttons: '#dlf-buttons',
						modal:true
					">
				<form action="">
					<table style="border-collapse: collapse;" border="1" cellspacing="10px;" cellspacing="0" >
						<tr>
							<th width="150px">邮件类型:</th>
	    					<td width="640px">
	    						<select class="easyui-combobox" name="khlx" style="width: 100%;">
									<option value="qxz">请选择</option>
									<option value="bjd" selected="true">报价单</option>
									<option value="ht">合同</option>
								</select>
	    					</td>
	    				</tr>
	    				<tr>
							<th width="150px">邮件内容:</th>
	    					<td width="640px">
	    						<input class="easyui-textbox" value="您购买的产品已发送" name="csz" data-options="multiline:true,required:false" style="width: 100%;height:60px">
	    					</td>
	    				</tr>
					</table>
				</form>
			</div>
			<div id="dlf-buttons">
				<div class="tabforyou">
					<ul>
						<li><a href="javascript:void(0)" onclick="javascript:alert('已保存')"><i class="fa fa-check"></i>确定</a></li>
						<li><a href="javascript:void(0)" onclick="javascript:$('#dlf').dialog('close')"><i class="fa fa-times"></i>关闭</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="ch_box">
			<div id="ch" class="easyui-dialog" title="查询" style="width:800px;height:170px;padding:5px;" data-options="
						iconCls: 'icon-save',
						toolbar: '#ch-toolbar',
						buttons: '#ch-buttons',
						modal:true
					">
				<form action="">
					<table style="border-collapse: collapse;" border="1" cellspacing="90px;" cellspacing="0" >
						<tr>
							<th width="150px">邮件类型:</th>
	    					<td width="640px"><input class="easyui-textbox" name="yjlx" data-options="required:false," style="width: 100%;"></td>
	    				</tr>
	    				<tr>
							<th width="150px">邮件内容:</th>
	    					<td width="640px"><input class="easyui-textbox" name="yjnr" data-options="multiline:true,required:false" style="width: 100%;height:60px;"></td>
	    				</tr>
					</table>
				</form>
			</div>
			<div id="ch-buttons">
				<div class="tabforyou">
					<ul>
						<li><a href="javascript:void(0)" onclick="javascript:alert('已保存')"><i class="fa fa-check"></i>确定</a></li>
						<li><a href="javascript:void(0)" onclick="javascript:$('#ch').dialog('close')"><i class="fa fa-times"></i>关闭</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- 引入easyui js -->
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script> 
	<!-- 汉化 -->
	<script type="text/javascript" src="easyui/easyui-lang-zh_CN.js"></script> 
	<script>
		$(function(){
			$("#tb").hide();
			$(".window").hide();
			$(".window-shadow").hide();
			$(".window-mask").hide();
		})
	</script>
</body>
</html>