<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据源配置表</title>
	<link rel="stylesheet" href="css/ConST_lb.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<!-- 引入easyui css -->
	<link rel="stylesheet" type="text/css" href="easyui/themes/easyui.css">
</head>
<body>
	<div class="easyui-panel" style="height: 100%;padding:0 10px;overflow-y:hidden;" data-options="fit:true,border:false,">
		<header style="background:transparent;height:64px;padding:0 10px;border:0">
			<div class="menu_top">
				<ul>
					<li><i class="fa fa-home"></i><a href="ConST_index.html">ConST</a></li>
					<li><i class="fa fa-angle-right"></i><a href="#">基础配置</a></li>
					<li><i class="fa fa-angle-right"></i><a href="#"><span>数据源配置表</span></a></li>
				</ul>
			</div>
			<div class="tabforyou">
				<ul>
					<li><a href="#" onclick="$('#dlg').dialog('open')"><i class="fa fa-plus"></i>添加</a></li>
					<li><a href="#" onclick="$('#dlf').dialog('open')"><i class="fa fa-pencil"></i>修改</a></li>
					<li><a href="#"><i class="fa fa-times"></i>删除</a></li>
					<li><a href="#" onclick="$('#ch').dialog('open')"><i class="fa fa-search"></i>查询</a></li>
				</ul>
			</div>
		</header>
		<table id="dg" class="easyui-datagrid" title="" toolbar="#tb" style="width:100%;"
			data-options="
				rownumbers:true,
				singleSelect:false,
				pagination:true,
				fit:true,
				url:'datagrid_data1.json',
				method:'get'
				">
			<thead>
				<tr>
					<th field="ck" width="2%" checkbox="true"></th>
					<th field="数据源类型" width="17	%" align="left">数据源类型</th>
					<th field="服务器名或IP地址" width="15%" align="left">服务器名或IP地址</th>
					<th field="数据库名" width="15%" align="left">数据库名</th>
					<th field="用户名" width="10%" align="left">用户名</th>
					<th field="密码" width="10%" align="left">密码</th>
					<th field="端口" width="10%" align="left">端口</th>
					<th field="年度" width="10%" align="left">年度</th>
					<th field="帐套号" width="10%" align="left">帐套号</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>NC系统</td>
					<td>192.168.1.110</td>
					<td>jtbys2016</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>jtbys2015</td>
				</tr>
				<tr>
					<td></td>
					<td>合同系统</td>
					<td>192.168.10.110</td>
					<td>hbcsoft</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>hbcsoft</td>
				</tr>
				<tr>
					<td></td>
					<td>NC系统</td>
					<td>192.168.1.110</td>
					<td>jtbys2016</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>jtbys2015</td>
				</tr>
				<tr>
					<td></td>
					<td>合同系统</td>
					<td>192.168.10.110</td>
					<td>hbcsoft</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>hbcsoft</td>
				</tr>
				<tr>
					<td></td>
					<td>NC系统</td>
					<td>192.168.1.110</td>
					<td>jtbys2016</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>jtbys2015</td>
				</tr>
				<tr>
					<td></td>
					<td>合同系统</td>
					<td>192.168.10.110</td>
					<td>hbcsoft</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>hbcsoft</td>
				</tr>
				<tr>
					<td></td>
					<td>NC系统</td>
					<td>192.168.1.110</td>
					<td>jtbys2016</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>jtbys2015</td>
				</tr>
				<tr>
					<td></td>
					<td>合同系统</td>
					<td>192.168.10.110</td>
					<td>hbcsoft</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>hbcsoft</td>
				</tr>
				<tr>
					<td></td>
					<td>NC系统</td>
					<td>192.168.1.110</td>
					<td>jtbys2016</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>jtbys2015</td>
				</tr>
				<tr>
					<td></td>
					<td>合同系统</td>
					<td>192.168.10.110</td>
					<td>hbcsoft</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>hbcsoft</td>
				</tr>
				<tr>
					<td></td>
					<td>NC系统</td>
					<td>192.168.1.110</td>
					<td>jtbys2016</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>jtbys2015</td>
				</tr>
				<tr>
					<td></td>
					<td>合同系统</td>
					<td>192.168.10.110</td>
					<td>hbcsoft</td>
					<td>sa</td>
					<td>hbcsoft</td>
					<td> 1433 </td>
					<td>2016</td>
					<td>hbcsoft</td>
				</tr>
			</tbody>
		</table>
		<div class="add_box">
			<div id="dlg" class="easyui-dialog" title="添加" style="width:800px;height:200px;padding:5px;" data-options="
						iconCls: 'icon-save',
						toolbar: '#dlg-toolbar',
						buttons: '#dlg-buttons',
						modal:true
					">
				<form action="">
					<table style="border-collapse: collapse;" border="1" cellspacing="10px;" cellspacing="0" >
						<tr>
							<th width="150px">数据源类型:</th>
	    					<td width="250px">
	    						<input class="easyui-textbox" name="sjylx" data-options="required:true" style="width: 100%;">
	    					</td>
							<th width="150px">服务器名或IP地址:</th>
	    					<td width="250px">
	    						<input class="easyui-textbox" name="fwqmhIPdz" data-options="required:true" style="width: 100%;">
	    					</td>
	    				</tr>
	    				<tr>
							<th>数据库名:</th>
	    					<td>
	    						<input class="easyui-textbox" name="sjkm" data-options="required:true" style="width: 100%;">
	    					</td>
							<th>用户名:</th>
	    					<td>
	    						<input class="easyui-textbox" name="yhm" data-options="required:true," style="width: 100%;">
	    					</td>
	    				</tr>
	    				<tr>
	    					<th>密码:</th>
	    					<td>
	    						<input class="easyui-textbox" name="mm" data-options="required:true," style="width: 100%;">
	    					</td>
							<th>端口:</th>
	    					<td>
	    						<input class="easyui-textbox" name="dk" data-options="required:true," style="width: 100%;">
	    					</td>
	    				</tr>
	    				<tr>
	    					<th>年度:</th>
	    					<td>
	    						<input class="easyui-textbox" name="nd" data-options="required:true," style="width: 100%;">
	    					</td>
							<th>帐套号:</th>
	    					<td>
	    						<input class="easyui-textbox" name="zth" data-options="required:true," style="width: 100%;">
	    					</td>
	    				</tr>
					</table>
				</form>
			</div>
			<div id="dlg-buttons">
				<div class="tabforyou">
					<ul>
						<li><a href="javascript:void(0)" onclick="javascript:alert('已保存')"><i class="fa fa-check"></i>确定</a></li>
						<li><a href="javascript:void(0)" onclick="javascript:$('#dlg').dialog('close')"><i class="fa fa-times"></i>关闭</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="fix_box">
			<div id="dlf" class="easyui-dialog" title="修改" style="width:800px;height:200px;padding:5px;" data-options="
						iconCls: 'icon-save',
						toolbar: '#dlf-toolbar',
						buttons: '#dlf-buttons',
						modal:true
					">
				<form action="">
					<table style="border-collapse: collapse;" border="1" cellspacing="10px;" cellspacing="0" >
						<tr>
							<th width="150px">数据源类型:</th>
	    					<td width="250px">
	    						<input class="easyui-textbox" value="NC系统" name="sjylx" data-options="required:false" style="width: 100%;">
	    					</td>
							<th width="150px">服务器名或IP地址:</th>
	    					<td width="250px">
	    						<input class="easyui-textbox" value="192.168.1.110" name="fwqmhIPdz" data-options="required:false" style="width: 100%;">
	    					</td>
	    				</tr>
	    				<tr>
							<th>数据库名:</th>
	    					<td>
	    						<input class="easyui-textbox" value="jtbys2016" name="sjkm" data-options="required:false" style="width: 100%;">
	    					</td>
							<th>用户名:</th>
	    					<td>
	    						<input class="easyui-textbox" value="sa" name="yhm" data-options="required:false," style="width: 100%;">
	    					</td>
	    				</tr>
	    				<tr>
	    					<th>密码:</th>
	    					<td>
	    						<input class="easyui-textbox" value="hbcsoft" name="mm" data-options="required:false," style="width: 100%;">
	    					</td>
							<th>端口:</th>
	    					<td>
	    						<input class="easyui-textbox" value="1433" name="dk" data-options="required:false," style="width: 100%;">
	    					</td>
	    				</tr>
	    				<tr>
	    					<th>年度:</th>
	    					<td>
	    						<input class="easyui-textbox" value="2016" name="nd" data-options="required:false," style="width: 100%;">
	    					</td>
							<th>帐套号:</th>
	    					<td>
	    						<input class="easyui-textbox" value="jtbys2015" name="zth" data-options="required:false," style="width: 100%;">
	    					</td>
	    				</tr>
					</table>
				</form>
			</div>
			<div id="dlf-buttons">
				<div class="tabforyou">
					<ul>
						<li><a href="javascript:void(0)" onclick="javascript:alert('已保存')"><i class="fa fa-check"></i>确定</a></li>
						<li><a href="javascript:void(0)" onclick="javascript:$('#dlf').dialog('close')"><i class="fa fa-times"></i>关闭</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="ch_box">
			<div id="ch" class="easyui-dialog" title="查询" style="width:800px;height:135px;padding:5px;" data-options="
						iconCls: 'icon-save',
						toolbar: '#ch-toolbar',
						buttons: '#ch-buttons',
						modal:true
					">
				<form action="">
					<table style="border-collapse: collapse;" border="1" cellspacing="10px;" cellspacing="0" >
						<tr>
							<th width="150px">数据库名:</th>
	    					<td width="250px"><input class="easyui-textbox" name="sjkm" data-options="required:false," style="width: 100%;"></td>
							<th width="150px">服务器名:</th>
	    					<td width="250px"><input class="easyui-textbox" name="fwqm" data-options="required:false" style="width: 100%;"></td>
	    				</tr>
						<tr>
	    					<th width="150px">用户名:</th>
	    					<td width="250px"><input class="easyui-textbox" name="yhm" data-options="required:false," style="width: 100%;"></td>
							<th width="150px">密码:</th>
	    					<td width="250px"><input class="easyui-textbox" name="mm" data-options="required:false" style="width: 100%;"></td>
	    				</tr>
					</table>
				</form>
			</div>
			<div id="ch-buttons">
				<div class="tabforyou">
					<ul>
						<li><a href="javascript:void(0)" onclick="javascript:alert('已保存')"><i class="fa fa-check"></i>确定</a></li>
						<li><a href="javascript:void(0)" onclick="javascript:$('#ch').dialog('close')"><i class="fa fa-times"></i>关闭</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- 引入easyui js -->
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<!-- 汉化 -->
	<script type="text/javascript" src="easyui/easyui-lang-zh_CN.js"></script> 
	<script>
		$(function(){
			$("#tb").hide();
			$(".window").hide();
			$(".window-shadow").hide();
			$(".window-mask").hide();
		})
	</script>
</body>
</html>