<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>产品价格表</title>
	<link rel="StyleSheet" href="css/tree.css" type="text/css" />
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>

</head>

<body>
	<div class="menu_top">
		<ul>
			<li><i class="fa fa-home"></i><a href="ConST_index.html">ConST</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#">系统管理</a></li>
			<li><i class="fa fa-angle-right"></i><a href="#"><span>产品价格表</span></a></li>
		</ul>
	</div>
	<div id="treeWrap" class="treeWrap">
	<div class="treeframe">
		<iframe  id="treeframe" name="treeframe" src="tree/tree_chanpinjiage.html" frameborder="0"></iframe>
	</div>
	</div>
	<div id="contentWrap" class="contentWrap">
	<div class="Conframe">
		<iframe  id="Conframe" name="Conframe" src="ConST_lb_jcpz_cpjgb.html" frameborder="0"></iframe>
	</div>
</body>

</html>