@charset "UTF-8"
@font-face{
	font-family: "ConST-font";
	src:url（fonts/Munro.woff）,url（fonts/Munro.svg),url（fonts/Munro.eot),url（fonts/Munro.otf),url（fonts/Munro.ttf);
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	border: none;
}
body{
	font-family: "microsoft yahei";
	margin: 0 10px 0 10px;
}
h1 h2 h3 h4 h5 h6{
	font-weight: normal;
}
.clear{
	clear: both;
}
#tt{
	font-size: 14px;
}

/*menu_top start*/
.menu_top{
	height: 36px;
	width: 100%;
	background: #f9f9f9;
	border-bottom: 1px #aaa solid;
}
.menu_top ul li{
	float: left;
}
.menu_top ul li i{
	color: #2a67be;
}
.menu_top ul li a{
	padding-left: 10px;
	font-size: 14px;
	line-height: 40px;
	color: #2a67be;
	font-weight: bold;
}
.menu_top ul li a:hover{
	text-decoration: underline;
}
.menu_top ul li a span{
	padding-right: 10px;
}
/*menu_top end*/
/*tabforyou start*/
.tabforyou{
	overflow: hidden;
	width: 100%;
}
.tabforyou ul{
	float: left;
}
.tabforyou ul li{
	float: left;
	height: 28px;
}
.tabforyou ul li a{
	font-size: 14px;
	color: #444;
	line-height: 28px;
	padding: 0 10px;
	border-right: 1px #ccc solid;
	border-left: 1px #fff solid;
}
.tabforyou ul li:first-child a{
	border-left: none;
}
.tabforyou ul li:last-child a{
	border-right: none;
}
.tabforyou ul li a i{
	padding-right: 5px;
}
.tabforyou ul li a:hover{
	color: #2a67be;
}
/*tabforyou end*/
#content_table{
	overflow: hidden;
}

#content_table table tr td{
	cursor: pointer;
	height: 28px;
}
#content_table table tr td a{
	color: #222;
}
#content_table h3{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #222;
	line-height: 32px;
}
#tb a{
	font-size: 14px;
	color: #444;
	padding-left: 10px;
}
#tb a:hover{
	color: #2a67be;
}
#tb a i{
	padding-right: 5px;
}