@charset "UTF-8"
@font-face{
	font-family: "ConST-font";
	src:url(fonts/Munro.eot), url(fonts/Munro.otf), url(fonts/Munro.svg), url(fonts/Munro.ttf), url(fonts/Munro.woff);
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
li{
	list-style: none;
}
h1 h2 h3 h4 h5 h6{
	font-weight: normal;
}
body{
	font-family: "microsoft yahei";
	overflow: hidden;
	margin: 0 10px 0 10px;
}

/*tree  start*/
.treeWrap{
	/*overflow-y: scroll;*/
	width: 285px;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 40px;
	right: 0px;
}
.treeframe{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
#treeframe{
	border: none;
	height: 100%;
	width: 290px;
}
/*tree  end*/
/*contentWrap  start*/
.contentWrap{
	position: absolute;
	bottom: 0;
	left: 290px;
	top: 40px;
	right: 0px;
}
.Conframe{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
#Conframe{
	border: none;
	height: 100%;
	width: 100%;
}
/*contentWrap  end*/
/*menu_top start*/
.menu_top{
	height: 36px;
	width: 100%;
	background: #f9f9f9;
	border-bottom: 1px #aaa solid;
}
.menu_top ul li{
	float: left;
	padding-right: 10px;
}
.menu_top ul li i{
	color: #2a67be;
}
.menu_top ul li a{
	padding-left: 10px;
	font-size: 14px;
	line-height: 36px;
	color: #2a67be;
	font-weight: bold;
}
.menu_top ul li a:hover{
	text-decoration: underline;
}
.menu_top ul li a span{
	padding-right: 10px;
}
/*menu_top end*/